.catSliderSection{width: 100%;}
.catSliderSection h4{font-size: 40px; font-weight: 500;opacity: 0.7;padding: 05px;}
.cat-slider-main .slick-slide{padding: 5px 10px  !important; }

.cat-slider-main .slick-arrow{zoom: 80%;}
.slick-prev:before, .slick-next:before{color: #3bb77e !important; opacity: 1 !important;}
.cat-slider-main .slick-arrow.slick-next{right: 30px !important;top: -50px !important;}
.cat-slider-main .slick-arrow.slick-prev{top: -50px !important;left: inherit !important; right: 80px !important;}

    

.cat-slider-main .item{height: auto;display: flex;align-items: center;justify-content: center;flex-direction: column; border-radius: 10px;}
.cat-slider-main .item:hover{box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);}
.cat-slider-main .item .info{margin: auto;display: flex;align-items: center;justify-content: center;flex-direction: column; border-radius: 10px;padding: 0px 15px;}
.cat-slider-main .item .info img{width: 100% !important;}
.cat-slider-main .item .info h4{font-size: 18px; font-weight: 600;}
.cat-slider-main .item .info p{font-size: 14px; opacity: 0.8;line-height: 8px;}
/* background: #dbb1ce; */