*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
button{
  border: none;
  background: none;
}
.text-g{
  color: #08b651;
}
.g-btn{
  border: none;
  background-color:#3bb77e;
  padding:8px 10px;
  
}
.heading{font-size: 40px; font-weight: 500;opacity: 0.7;padding: 05px;}
.cursor{cursor: pointer;}
.br{border:1px solid black}

.price{font-size: 18px;margin-right: 10px;}
.old-price{font-size: 13px;text-decoration: line-through;opacity: 0.8;}
